<footer class="text-white">
    <div class="footer-container">
        <div class="row card-row g-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="company-details" style="color: white;">
                    <ul>
                        <li>
                            <p>Logo & Mannat Loan</p>
                        </li>
                        <li>
                            <p>Some Text</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="services-details" style="color: white;">
                    <ul>
                        <li>
                            <p>Home</p>
                        </li>
                        <li>
                            <p>Personal</p>
                        </li>
                        <li>
                            <p>Business</p>
                        </li>
                        <li>
                            <p>Loans & Mortgages</p>
                        </li>
                        <li>
                            <p>Contact</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact-us" style="color: white;">
                    <ul>
                        <li>
                            <p class="heading">Contact Us</p>
                        </li>
                        <li>
                            <div class="icons-div">
                                <span><i class="fa-solid fa-location-dot"></i></span>
                                <p>S2.42, Zoom Plaza Mall, Gorai No.1, Borivali Mumbai Maharashtra - 400092</p>
                            </div>
                        </li>
                        <li>
                            <div class="icons-div">
                                <span><i class="fa-regular fa-clock"></i></span>
                                <p>Mon - Sat 8.00 - 18.00. Sunday CLOSED</p>
                            </div>
                        </li>
                        <li>
                            <div class="icons-div">
                                <span> <i class="fa-solid fa-phone-volume"></i></span>
                                <p>8454019476 / 8657396036</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact-us" style="color: white;">
                    <ul>
                        <li>
                            <p class="heading">Follow Us</p>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-facebook"></i> Fecebook</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-linkedin"></i> linkedin</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p>Copyright @ 2024. All rights reserved.</p>
</footer>