nav {
    background-color: #00509e;
    padding: 4px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: white !important;
}

.collapse:not(.show)::ng-deep {
    display: none;
}