<div class="navbartoolbar">
    <nav class="navbar-expand-lg">
     
        <div class="navbar-nav">
            <!-- <span><i class="fa-solid fa-location-dot"></i></span> -->
            <a style="text-align: center;" class="nav-item nav-link" href="#"><i class="fa-solid fa-location-dot"></i> &nbsp; S2.42, Zoom Plaza Mall, Gorai No.1, Borivali Mumbai Maharashtra - 400092</a>
            <a class="nav-item nav-link" href="#"> <i class="fa-regular fa-calendar-days"></i> &nbsp; {{todayDate |
                date: 'dd MMM yyyy hh:mm' }}</a>
            <a class="nav-item nav-link" href="#"> <i class="fa-solid fa-phone"></i> &nbsp; 8454019476 / 8657396036</a>
        </div>
    </nav>
</div>