<div class="home-main-container">
    <div class="container-fluids">
        <div class="appheader">
            <app-header></app-header>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active carousel-item-1">
                    <div class="img-text">
                        <div class="inner-text">
                            <h3 style="padding: 15px 0px;">Build Your Dream</h3>
                            <h1 class="title">Let Us Help You To Grow & Start <br>You Own Business</h1>
                            <h2 style="color: #1D1D1D; padding: 20px 0px;">Let's talk about your ideas and business
                                goals. <br> Overcome your obstacles.</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item-2">
                    <div class="img-text">
                        <div class="inner-text">
                            <h1 class="title">Broad Vision Honest <br>Service Great Value</h1>
                            <h2 style="color: #1D1D1D; padding: 20px 0px;">We are Here to Help!</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item-3">
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div> -->
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row card-row g-4" style="position: relative; z-index: 100; margin-top: -70px;">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card top-card">
                        <div class="card-body top-card-body">
                            <h5 class="card-title" style="padding: 8px;"><i class="fa-sharp fa-solid fa-landmark"></i>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Best Service</h6>
                            <p class="card-text">Our mission to attract and retain customers by providing Best in class
                                Services and Rate of Intrest, fostering a profitable, disciplined culture of safety,
                                <br>service and trust.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12  card-col">
                    <div class="card top-card">
                        <div class="card-body top-card-body">
                            <h5 class="card-title" style="padding: 8px;"><i class="fa-solid fa-hand-holding-hand"></i>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Reputation</h6>
                            <p class="card-text">We have established a trong pressence in the financial services. Our
                                award-winning services <br> earn a reputation for quality and excellence that few can
                                rival.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card top-card">
                        <div class="card-body top-card-body">
                            <h4 class="card-title" style="padding: 8px;"><i class="fa-solid fa-key"></i></h4>
                            <h6 class="card-subtitle mb-2 text-muted">Safety & Security</h6>
                            <p class="card-text">Safety for our employees, customers and motoring public will always
                                remain our primary focus in all the polices, procedures and programs that govern our
                                business</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Services Cards -->
            <div class="row card-row g-4">
                <div class="services-heading">
                    <div>
                        <h5 style="color: aqua;">SERVICES</h5>
                    </div>
                    <div>
                        <p style="font-size: 35px;">HOW CAN WE HELP YOU DO BETTER?</p>
                    </div>
                    <p>We provide personal and small business solution to help you achieve your future goals!</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card personal-loan-card">
                        <p class="loan-title">Personal Loan</p>
                        <div class="loan-title loan-title-line"></div>
                        <div class="overlay">
                            <h5 class="overlay-button">Know More</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12  card-col">
                    <div class="card business-loan-card">
                        <p class="loan-title">Business Loan</p>
                        <div class="loan-title loan-title-line"></div>
                        <div class="overlay">
                            <h5 class="overlay-button">Know More</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mortgage-loan-card">
                        <p class="loan-title">Mortgage Loan</p>
                        <div class="loan-title loan-title-line"></div>
                        <div class="overlay">
                            <h5 class="overlay-button">Know More</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>