<div class="wrapper">
    <!-- Sidenav bar -->
    <aside id="sidenav">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">Mannat Loan</a>
            </div>
            <!-- User Profile Component -->
            <div class="container-fluid">
                <div class="row card-row g-4 p-1">
                    <div class="card card-border" style="width: 100%;" style="background-color:  rgb(166, 166, 166);">
                        <img src="../../../assets/images/userProfileImg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="text-align: center;">Admin</p>
                            <p class="card-text" style="text-align: center;">Akash Gaikwad</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Tools & Components
                </li>
                <li class="sidebar-item">
                    <a routerLink='' routerLinkActive="is-active" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Main Component -->
    <div class="main">
        <div class="appheader">
            <app-header (eventTogglerFromHeaderComponent)="togglerEventHandlerFromHeaderCom($event)"></app-header>
        </div>
        <!-- Home component master -->
        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>