a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

/* Layout skeleton */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidenav {
    background-color: rgb(166, 166, 166);
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px rgba(49, 77, 66, 0.5);
}

/* Sidebar collapse */
#sidenav.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.6rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 1rem;
}

content {
    position: relative;
    flex: 1;
    min-width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 540px) {
    /* #sidenav {
        position: fixed;
        max-width: 100%;
        min-width: 100%;
        height: 100%;
        z-index: 1111;
    }

    #sidenav.collapsed {
        margin-left: -100%;
    } */
}
